
.about{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 3rem 2rem;
    height: 83vh;
    margin-top: 2rem;
    align-content: space-evenly;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.jornada{
    grid-column: span 3;
}

.theme{
    width: 100%;
    font-size: 1rem;
    padding: 5px;
    flex-direction: column;
    position: relative;
    text-align: justify;
    margin: 0.8rem 0;
}

.theme2{
    width: 460px;
}

.theme > p, .theme ul{
    margin-top: .2rem;
    color: #999999;
}

.theme:hover{
    color: #fff;
}

.img-about{
    height: 200px;
    margin: 0 auto;
    background-color: #4a574a8a;
    border: 6px solid #00ff08;
    border-radius: 100%;
}

.title{
    width: 100%;
    justify-content: space-between;
    font-size: 1.5rem;
}

.theme > .hr{
    margin-top: 0;
    margin-bottom: 1.2rem;
    width: 0;
    border-bottom: #00ff08 4px solid;
    transition: width 1s ease;
    animation: expand .5s reverse;
}

.theme:hover > .hr{
    width: 100%;
}

@keyframes expand {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

.habilit{
    flex-direction: column;
    align-items: start;
}

.stacks{
    margin-bottom: 1.2rem;
    width: 100%;
}

.stacks > ul{
    width: 100%;
    padding: 8px 0;
    font-size: 1.2rem;
    width: 100%;
}

.stacks > ul li{
    font-size: 0.9rem;
}

.study{
    color: #999999;
    margin-bottom: 15px;
}

.themeEduca{
    width: 420px;
}

.icon{
    width: 25px;
    height: 80px;
}