:root{
    --cor-de-fundo-prymary:#000;
    --cor-de-fundo-secundary:#494949d5;
    --cor-primary:#00ff08;
    --cor-secundary:;
    --cor-text-primary:#fff;
    --cor-text-secundary:#cfcfcf;
    --cor-text-tertiary:#181717;
    --cor-link-primary:#5a5a5ac9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-de-fundo-prymary);
    color: var(--cor-text-primary);
    height: 100vh;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

header{
    padding: 2rem 0;
    font-size: 1.2rem;
}

header > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul{
    display: flex;
    justify-content: space-between;
}

nav > ul li {
    display: inline-block;
    padding: 0 30px;
}

nav ul li > a{
    color: var(--cor-link-primary);
    transition: .3s;
}

header a:hover{
    color: var(--cor-text-primary);
    transform: scale(1.3);
    border-bottom: #00ff08 2px solid;
}

.btn-contato > a{
    color: #000;
    background-color: var(--cor-primary);
    padding: 8px 20px;
    border-radius: 20px;
    transition: .5s;
}

.btn-contato > a:hover{
    box-shadow: 0px 0px 10px #00ff08;
    color: #000;
}

.flex{
    display: flex;
    align-items: center;
}

.hero{
    justify-content: space-around;
    height: 80vh;
}

.text-hero{
    flex-direction: column;
    align-items: start;
    max-width: 800px;
    font-size: 1.4rem;
}

.text-hero p{
    color: var(--cor-text-secundary);
    margin: 40px  0;
}



.igmcontent {
    position: relative;
    height: 20rem;
    width: 20rem;
}

.img-hero{
    width: 100%;
    height: 100%;
    background-image: url(../imagens/luan1-PhotoRoom.png-PhotoRoom.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -10rem;
    border-radius: 100%;
    border: #00ff08 solid 1px;
    position: relative;
}

.animated-border::before {
    content: '';
    position: absolute;
    top: -0.6rem;
    left: -.6rem;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    border: #00ff08 solid 10px;
    border-left: 10px solid transparent;
    animation: rotateBorder 18s alternate-reverse infinite;
}

@keyframes rotateBorder {
    0% {
        transform: rotate(0deg);
    }
    35% {
        transform: rotate(360deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

section{
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
}

section > h2{
    margin: 2rem 0;
}

.about{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 8rem 2rem;
    height: 83vh;
    margin-top: 3rem;
    align-content: stretch;
    align-items: center;
}

.jornada{
    grid-column: span 2;
}

.theme{
    font-size: 1.1rem;
    padding: 10px;
    flex-direction: column;
    position: relative;
    z-index: 4;
}

.theme:hover{
    border-radius: 30px;
}

.img-about{
    height: 300px;
    margin: 0 auto;
    background-color: #5c5f5cd3;
    border: 12px solid #00ff08;
    border-radius: 100%;
}

.theme > h3 {
    white-space: nowrap; 
    font-size: 1.5rem;
}

.theme:nth-child(1) > h3{
    width: 0;
    border-bottom: #00ff08 4px solid;
    transition: width .5s ease;;
}

.theme:nth-child(1):hover > h3{
    width: 10rem;
}

.theme:nth-child(3) > h3{
    width: 0;
    border-bottom: #00ff08 4px solid;
    transition: width .5s ease;;
}

.theme:nth-child(3):hover > h3{
    width: 8rem;
}

.theme:nth-child(4) > h3{
    width: 0;
    border-bottom: #00ff08 4px solid;
    transition: width .5s ease;;
}

.theme:nth-child(4):hover > h3{
    width: 6.5rem;
}

.theme:nth-child(5) > h3{
    width: 0rem;
    border-bottom: #00ff08 4px solid;
    transition: width .5s ease;;
}

.theme:nth-child(5):hover > h3{
    width: 4.8rem;
}

.theme > p, .theme div, .theme ul{
    margin-top: .8rem;
}

.habilit{
    flex-direction: column;
    align-items: start;
}

.habilit > div{
    margin-right: 2rem;
}



.portfolio {
   
}

.carolusel{
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 25px;
    margin: 4rem 0;}

.cardContent {
    padding: 1rem;
    background-color: var(--cor-de-fundo-secundary);
    color: var(--cor-text-primary);
    display: none;
    border-radius: 5px;
    position: absolute; 
    z-index: 10;
    width: calc(100% - 2rem); /* Ajuste conforme necessário para layout */
    margin: 1rem; /* Ajuste conforme necessário para layout */
}

.card {
    position: relative; /* Para que .cardContent possa ser posicionado corretamente */
}

.details {
    display: none;
}

