:root{
    --cor-de-fundo-prymary:#000000;
    --cor-de-fundo-secundary:#494949d5;
    --cor-primary:#00ff08;
    --cor-secundary:;
    --cor-text-primary:#fff;
    --cor-text-secundary:#cfcfcf;
    --cor-text-tertiary:#181717;
    --cor-link-primary:#5a5a5ac9;
    --font-text-primary:"Bitter", serif;
    --font-text-secundary:"Roboto Mono", monospace;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-de-fundo-prymary);
    color: var(--cor-text-primary);
    height: 100vh;
    font-family: var(--font-text-secundary);
}

h1,h2, h3, h4{
    font-family: var(--font-text-secundary);
    font-weight: 900;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

header{
    padding: 2rem 0;
    font-size: 1.2rem;
}

header > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .menu{
    display: none;
}

header nav ul{
    display: flex;
    justify-content: space-between;
}

nav > ul li {
    display: inline-block;
    padding: 0 30px;
}

nav ul li > a{
    color: var(--cor-link-primary);
    transition: .3s;
}

header a:hover{
    color: var(--cor-text-primary);
    transform: scale(1.3);
}

header nav ul li a.active{
    color: var(--cor-text-primary);
    transform: scale(1.4);
    border-bottom: #00ff08 2px solid;
}

.btn-contato > a{
    color: #000;
    background-color: var(--cor-primary);
    padding: 8px 20px;
    border-radius: 20px;
    transition: .5s;
}

.btn-contato > a:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px #00ff08;
    color: #000;
}

.flex{
    display: flex;
    align-items: center;
}

.hero{
    justify-content: space-around;
    height: 80vh;
}

.text-hero{
    flex-direction: column;
    align-items: center;
    text-align: justify;
    max-width: 780px;
    font-size: 1.4rem;
}

.text-hero p{
    color: var(--cor-text-secundary);
    margin: 40px  0;
}

.igmcontent {
    position: relative;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    box-shadow:  0px 0px 10px #00ff0865;
    z-index: 0;
}

.imgHero {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    overflow: hidden; 
}

.imgHero > img{
    width: 32rem;
    height: 20.1rem;
    position: relative;
    left: -8rem; 
}

.animated-border::before {
    content: '';
    position: absolute;
    top: -.5rem;
    left: -.6rem;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: solid 10px #00ff08;
    border-left: 10px solid transparent;
    animation: rotateBorder 18s alternate-reverse infinite;
    z-index: 2;
}

@keyframes rotateBorder {
    0% {
        transform: rotate(0deg);
    }
    35% {
        transform: rotate(360deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

section{
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
}

section > h2{
    margin: 2rem 0;
}

.btn{
    justify-content: space-between;
}

.btn-baixar > a{
    background-color: #fff;
    padding: 8px 20px;
    font-size: 1.3rem;
    color: #000;
    cursor: pointer;
    border-radius: 20px;
    transition: .5s;

}

.btn-baixar > a:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px #00ff08;
    color: #000;
}


h1 span, h2 span,h3 span, p span{
    color: #00ff08;
}



