@media (max-width: 991.98px) {
    header .container .btn-contato a{
        display: none;
    }

    header .container{
        flex-direction: column;
    }

    header .container nav{
        margin-top: 2rem;
    }

   .container{
        width: 80%;
   }


   .hero{
        margin-top: 3rem;
        flex-direction: column-reverse;
        height: auto;
    }

    .text-hero{
        max-width: 100%;
        text-align: center;
    }

    .text-hero p {
        text-align:justify;
    }

    .igmcontent {
        margin-bottom: 2rem;
    }

    .about{
        grid-template-columns: auto;
        height: auto;
    }

    .about >*{
        grid-column: span 2;
    }

    .img-about{
        display: none;
    }

    .portfolio{
        display: inline;
    }

    .port{
        text-align: center;
    }

    form fieldset{
        width: 100%;
    }

    .btn{
        justify-content: space-around;
    }

}

@media (max-width: 800px) {
    .btn-contato span, .btn-baixar span{
        display: none;
    }

}

@media (max-width: 600px) {
    header .container{
        flex-direction: row;
        position: relative;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    header nav ul li{
        padding: 1rem;
    }

    header .container .menu{
        display: inline-block;
        position: absolute;
        right: 0;
        z-index: 3;
    }

    header .container nav{
        position: absolute;
        top: 0;
        right: 0;
        margin: 12px 0;
        background-color:#000;
        z-index: 2;
        display: none;
    }
    
    header nav ul li a.active{
        transform: scale(1);
    }

    .hero>.btn-contato > a, 
    .btn-baixar > a{
        width: 200px;
    }

    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .themeEduca{
        width: 100%;
    }

    .theme{
        font-size: 1rem;
    }

    .theme2{
        width: 100%;
    }

    .habilit{
        overflow: hidden;
    }

    .text-hero{
        font-size: 1rem;
    }

    .hero>.btn-contato > a, .btn-baixar > a{
        width: 145px;
        font-size: .9rem;
    }

    .igmcontent{
        width: 15rem;
        height: 15rem;
    }
  
    .imgHero > img{
        width: 26rem;
        height: 16.1rem;
        position: relative;
        left: -8rem;
    }

}